.search-container {
    display: flex;
    align-items: center;
    border: 2px solid #4B4F5D;
    border-radius: 20px;
    padding: 5px 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    width: 300px;
  }
  
  .search-container:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  }
  
  .search-icon {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  
  .search-box {
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%;
    padding: 5px;
    background-color: transparent;
    color: #4B4F5D;
  }
  
  .search-box::placeholder {
    color: #aaa;
  }
  
  .search-box:focus {
    border-color: #4B4F5D;
  }
  