/* FileLoader.css */
.loader-container {
    border: 2px dashed #ccc;
    padding: 20px;
    max-width: 300px;
    margin: 0 auto;
    position: relative;
}

.file-input {
    display: none;
}

.drop-zone {
    text-align: center;
    cursor: pointer;
}

.drop-zone span {
    color: blue;
    text-decoration: underline;
}

.file-loader-prompt {
    text-align: center;
}

.structure-of-map {
    height: 100vh;
    width: 100vw;
}

.custom-left {
    position: absolute;
    top: 2vw;
    left: 2vw;
    z-index: 1000;
    /* Add more styles as needed */
  }

.custom-right {
    position: absolute;
    top: 2vw;
    left: 7vw;
    z-index: 1000;
    /* Add more styles as needed */
}